@import '../../assets/less/variable.less';
.content {
  .top {
    display: flex;
    .top_left {
      color: #000;
    }
    .top_right {
      .right_title {
        margin-bottom: 10px;
        color: #333;
        font-weight: bold;
        font-size: 15px;
      }
      .rigth_brandName {
        margin-bottom: 30px;
      }
      .icon {
        margin-bottom: 10px;
        color: red;
      }
    }
  }
}
