.e1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.e2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content .top {
  display: flex;
}
.content .top .top_left {
  color: #000;
}
.content .top .top_right .right_title {
  color: #333;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}
.content .top .top_right .rigth_brandName {
  margin-bottom: 30px;
}
.content .top .top_right .icon {
  color: red;
  margin-bottom: 10px;
}
