
.orderInfo {
    float: right;
    .mycart, .myorder {
        display: inline-block;
        border: 1px solid #DFDFDF;
        padding: 0 28px 0 19px;
        background: #F9F9F9;
        line-height: 34px;
    }
    .mycart {
        margin-right: 20px;
    }
}
.title {
    font-size: 20px;
    margin-right: 120px;
}
.serachInput {
    width: 400px;
}