@import '../assets/less/variable.less';

.layoutWrap {
    margin: auto;
    width: @mainWidth;
    border-bottom: 1px solid #e5e5e5;
}
.layoutHeader {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.layoutContent {
    background-color: #fff;
}
@media (min-width: 1210px) {
    .layoutWrap {
        width: @mainBigWidth !important;
    }
}